<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results - College Notes Portal</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link to your CSS file -->
    
</head>
<body>
    <%- include("partials/header") %>
    <div class="main-container">
        <main class="upload">
        <h1 class="searchheader">Search Results for:   <%= query %></h1>

        <a href="/index" class="btns">Back to semester</a> 

        <% if (results.length > 0) { %>
            <ul>
                <% results.forEach(result => { %>
                    <li>
                        <h4><%= result.sem %> - <%= result.branch %> - <%= result.subject %></h4>
                        <a href="<%= result.link %>">View Notes</a>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>No results found for "<%= query %>"</p>
        <% } %>
        </main>
    </div>
    <%- include("partials/footer") %>
</body>
</html>
