<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include("partials/header") %>
    <div class=" main-container">
    <main class="upload">
    
        <h3>Semester <%= sem.replace('_', ' ') %> Notes</h3>
        <a href="/index" class="btns">Back to Semester</a>

        <ul>
            <% branches.forEach(branch => { %>
                <li><a href="/semester/<%= sem %>/<%= branch %>"><%= branch %></a></li>
            <% }); %>
        </ul>
    </main>
    </div>
    <%- include("partials/footer") %>
</body>
</html>
