<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include("partials/header") %>
    <div class=" main-container semester-container">
    <main class="upload">
        
            <div class="semester-wrapper">
                <h1>Select Your Branch</h1>

                <div class="search-container">
                    <form action="/search" method="get" class="search">
                        <input type="text" name="query" placeholder="Search for notes..." required>
                        <button type="submit">Search</button>
                    </form>
                </div>

                <ul>
                <% branches.forEach(branch => { %>
                <li><a href="/branch/<%= branch %>"><%= branch.replace(/_/g, ' ') %></a></li>
                <% }) %>
                </ul>
            
    </div>
    </main>
    </div>
    <%- include("partials/footer") %>
    <script src="/js/script.js"></script>
</body>
</html>