<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include("partials/header") %>
    <div class="notes-container">
        <div class="notes-wrapper">
            <h1>Subjects</h1>
            <a href="/branch/<%= branch %>" class="btns">Back to Semester</a>
            <ul>
                <% subjects.forEach(subject => { %>
                    <li><a href="/subject/<%= branch %>/<%= sem %>/<%= subject %>"><%= subject.replace(/_/g, ' ') %></a></li>
                <% }) %>
            </ul>
            
        </div>
    </div>
    <%- include("partials/footer") %>
    <script src="/js/script.js"></script>
</body>
</html>



    